body{
    background-color: #d6d6d6;

}

.container{
    display: flex;
    width: 40%;
    justify-content: space-between;
    /*forcentaringthecontainer*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

a{
    position: relative;
    text-decoration: none;
    width: 80px;
    height: 80px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.7), 6px 6px 15px rgba(0, 0, 0, 0.3);
    transform: all 0.3s;
    -webkit-transform: all 0.3s;
    -moz-transform: all 0.3s;
    -ms-transform: all 0.3s;
    -o-transform: all 0.3s;
}

i{
    font-size: 37px;
    color: #ee6f57;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%; left: 50%;
}

a:hover{
    box-shadow: inset -6px -6px 15px rgba(255, 255, 255, 1),
                inset 6px 6px 15px rgba(0, 0, 0, 0.3);

}